.people-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.person {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  flex-shrink: 0;
  margin-left: -20px; /* Adjust this value to control overlap */
}

.person-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #34ACAE;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.person-info {
  position: absolute;
  left: 250px; /* Adjust according to your need */
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 500px;
  z-index: 0;
  
}

p{
  width: 30rem;
  position: absolute;
  text-wrap: wrap;
  font-size: 10px;
}

.person:hover .person-info {
  right: 400px; /* Adjust to make the text box visible */
  opacity: 1;
}

.person:hover .person-image {
  transform: translateX(-30px); /* Adjust according to your need */
  z-index: 2;
}

.person.active .person-info {
  right: 400px; /* Adjust to make the text box visible */
  opacity: 1;
}

.person.active .person-image {
  transform: translateX(-30px); /* Adjust according to your need */
  z-index: 2;
}
